body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060606;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
}
textarea, input {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    resize: none;
    background: #0b0b0b;
    color: white;
    border-color: #ddd;
    border-width: 10px;
    border-radius: 5px;
}
button {
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
h1 {
    color: white;
}
label {
    color: white;
    font-size: 24pt;
}